<?xml version="1.0" encoding="UTF-8"?>
<information>
    <pubDate>$BUILD_DATE$</pubDate>
    <pkgver>1.0</pkgver>
    <pkgrel>$BUILD_NUMBER$</pkgrel>
    <severity>normal</severity>
    <extra>
        <message></message>
    </extra>
</information>